@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #C9C9C9, #8C7C68);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8C7C68;
}
h1{
    color: #DABB80;
    text-align: center;
    text-shadow: 1px 1px 2px #a28b6197;
}
h2{
    color: #BF9E60;
}
p {
    text-align: justify;
}